.header {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  height: 4rem;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.links li {
  color: white;
  margin-right: 10px;
  font-size: large;
  font-weight: bold;
}
